@model DetailPageModel

@* section class="py-5">
 *@<div class="container">
    <div class="row gx-5">
        <aside class="col-lg-6">
            <div class="border rounded-4 mb-3 d-flex justify-content-center">
                <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="@Model.Product.ImagePath">
                    <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="@Model.Product.ImagePath">
                </a>
            </div>


        </aside>
        <main class="col-lg-6">
            <div class="ps-lg-3">
                <h4 class="title text-dark">
                    @Model.Product.Header
                </h4>

                <p>
                    @Model.Product.MiniDescription
                </p>
                <hr>


                <a href="#" class="btn btn-primary shadow-0" onclick="toogleContactForm()">
                    <i class="me-1 fa fa-phone"></i> İletişime geç
                </a>

                <div id="contactFormArea" style="display:none">

                    @await Html.PartialAsync("_PartialContactForm", new ContactFormModel
               {
                   RelatedEmlakId = Model.Product.Id

               })

                </div>
            </div>
        </main>
    </div>
</div>
</section>


<section class="bg-light border-top py-4">
    <div class="container">
        @Html.Raw(Model.Product.Description)
    </div>
</section>

@section Scripts {

    <script>
        function toogleContactForm() {
            $("#contactFormArea").toggle();
        }


        function sendContactForm() {
            if ($("#contactFormForm").valid()) {

                var relatedEmlakId = $("#RelatedEmlakId").val();
                var name = $("#Name").val();
                var email = $("#Email").val();
                var description = $("#Description").val();


                $.ajax({
                    url: "/Product/Contact",
                    method: "POST",
                    data: {

                        Name: name,
                        Email: email,
                        Description: description,
                        RelatedEmlakId: relatedEmlakId
                    },
                    success: function (result) {
                        $("#contactFormArea").html(result);
                    },
                    error: function (httpresponse) {

                    },
                    complete: function (httpresponse) {


                    }
                })


            }
        }





    </script>
}
